@charset "UTF-8";
/* CSS Document */

/*全ページ共通項目*/
*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'TsukuARdGothic-Regular',sans-serif;
    font-size: 16px;
    color: #77b8d3;
}
html p{
    color: #77b8d3;
}

body{
    background-color: #F7F7F7; /*灰色のカバー*/
}
.all-margin{
    margin: 0 40px;
}
.topline{
    background-color: #73859a;
}
.topline a{
    margin-right: 20px;
    color: #FFF;
    text-decoration: none;
    text-align: right;
    display: block;
    
}
.logo{
    display: inline-block;
    margin: 12px 20px;
}
.FFFbgc{
    background-color: #FFF;
    display: block;
    width: 1200px;
    margin: auto;
    position: relative;
}
.nav-delete{
    height: 85px;
    width: 300px;
}









/*動的ナビゲーションバー*/
.menu-1{
    position: absolute;
    top: 26px;
    right: 30px;
}
.menu-1 li{
    list-style: none;
    display: inline-block;
}
.menu-1 li a{
    text-decoration: none;
    color: #77b8d3;
    margin-left: 20px;
}
.menu-1-fix{
    background-color: rgba(255,255,255,1);
    width: 100%;
    position: fixed;
    z-index: 1;
    transition: .5s;
    top: 24px;
}
.menu-1-fix.transform{
    background-color: rgba(255,255,255,0.8);
    top: 0px;
}















/*ページ独自項目*/
.FFFbgc{
    z-index: -1;
}
.guide-group{
}
.home{
    width: 20px;
}
.guide  p{
    color: #717171;
    font-size:16px;
    position: relative;
    bottom: 2px;
    left: 7px;
}
.guide a{
    text-decoration: none;
    color: #717171;
}
.title-1{
    font-size: 22px;
    color: #717171;
    margin-top: 70px;
}

.border-1{
    border: 1px solid  #77b8d3;
    margin-top: 40px;
}


.square{
    width: 7px;
    height: 25px;
    background-color: #77b8d3;
    display: inline-block;
    margin-top: 70px;
    margin-left: 20px;
    
}
.title-2{
    color:  #000;
    font-size: 20px;
    display: inline-block;
    position: relative;
    top: -4px;
    left: 10px;
}
.caption-1{
    color: #000;
    line-height: 30px;
    text-align: justify;
  text-justify: inter-ideograph;
    width: 1050px;
    margin-left: 42px;
    margin-top: 20px
}
.blue{
    color: #77b8d3;
    text-decoration: underline;
}
.border{
    border: 1px solid #77b8d3;
    margin-top: 150px;
}
.border-2{
     margin-top: 6px;
    border: 1px solid #77b8d3;
    margin-bottom: 40px;
}
.boder-text{
    color: #000;
    font-size: 14px;
    padding-bottom: 50px;
}


header{
    display: none;
}





























